html {
	font-family: 'Lobster', cursive;
	color: #fff;
	background-color: #002
}

.leJeu {
 	color: #fff;
	background-color: #002;
	padding: 2em;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin: auto;

}



#nombreJoueur {
	margin: 2em;
	width: 5em;
}

.messages {
	font-family: 'Lobster', cursive;
	font-size: 2em;
	color: #fff;
	background-color: #002
}




